* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  background-color: rgb(240, 240, 240);
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

/*Header*/

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(54, 54, 54);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
}

.header-title {
  margin: 0;
  font-size: 9vw;
  color: #eeeeee;
}

.header-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 3vw;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: aliceblue;
}

.header-arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

/*Portfolio*/

.portfolio {
  padding-top: 50px;
  padding-bottom: 70px;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.portfolio-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  max-width: 540px;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  transition: transform 0.2s ease-in;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.in_stock {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 25px;
    top: 25px;
}

.card:hover {
  transform: scale(1.05);
}

.card-link {
  padding: 20px;
  text-decoration: none;
  display: block;
  color: #000;
  transition: transform 0.2s ease-in;
}

.card-link:hover {
  olor: #2669b6;
}

.card:last-child,
.card:nth-last-child(2) {
  margin-bottom: 0;
}

.card-img {
  margin-bottom: 20px;
}

.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}

.card p {
  margin: 0;
  font-size: 16px;
  line-height: 130%;
}

/* Footer */

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #1e4776;
  color: #fff;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-col {
  max-width: 350px;
  flex-grow: 1;
}

.footer-copyright {
  max-width: 350px;
  line-height: 1.3;
}

.footer-copyright-name {
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  margin-bottom: 15px;
}

.footer-copyright p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

.phone_me {
    height: 50px;
    display: inline-block;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 50px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 44px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
  }
  
  .phone_me:hover {
    background-color: white;
    color: #1e4776;
  }

.phone_me::before {
  content: "📞 ";
}

.footer-icons {
  max-width: 350px;
}

.footer-icons-row {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 15px;
}

.footer-icons p {
  margin: 0 0 15px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

.footer-icons-row > * + * {
  margin-left: 15px;
}

.footer-contacts {
  max-width: 350px;
  margin-bottom: 20px;
}

.footer-contacts p {
  margin: 15px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

/* MyWorks */

.project {
  padding-bottom: 50px;
}

.project-header {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.project-description {
  margin: 0 auto 60px;
  padding-left: 30px;
}

.project-description h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}

.project-description p {
  font-size: 16px;
  line-height: 1.3;
}

.main-back {
  text-align: center;
}

.button-main-back {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border: 3px solid #000;
  border-radius: 50px;
  color: #000;
  margin: 0 auto 30px;
  line-height: 44px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-main-back:hover {
  background-color: rgb(43, 43, 43);
  color: white;
}
